#login {
    margin: auto;
    margin-top: 1em;
}

.subject {
    min-height: 4em;
    max-width: 500px;
    width: 100%;
}

.subjects {
    padding: 0%;
}

.mdl-layout__content {
    background: #F5F5F5;
}

.grade_ok {
    background-color: #4caf50;
}

.grade_not_ok {
    background-color: #ef5350;
}

#footer {
    padding: 8px 8px 0px 8px;
}

.loginFormErrors {
    color: red;
}

.subject > .mdl-card__title {
    display: block;
}

svg {
    float: right;
}


.subjectPage {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}