#login {
    margin: auto;
}

.marks {
	min-height: 100%;
}

#marks {
	margin: auto 10%;
	width: initial;
}

.mdl-layout__content {
	padding: 24px;
}

.grade_ok {
    background-color: #4caf50;
}

.grade_not_ok {
    background-color: #ef5350;
}

#footer {
    padding: 8px 8px 0px 8px;
}