/* Sticky footer hack */
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer.page-footer {
    color: #f5f2f0;
    background-color: #5c5757;
}

footer.page-footer a {
    color: #f5f2f0;
}
footer.page-footer a:hover {
    color: deepskyblue;
}

#logout {
    float: left;
}

.grade_ok {
    background-color: #4caf50;
}

.grade_not_ok {
    background-color: #ef5350;
}